[submodule "Carthage/Checkouts/ZipArchive"]
	path = Carthage/Checkouts/ZipArchive
	url = https://github.com/ZipArchive/ZipArchive.git
[submodule "Carthage/Checkouts/libssh2"]
	path = Carthage/Checkouts/libssh2
	url = https://github.com/mallexxx/libssh2.git
[submodule "Carthage/Checkouts/curl"]
	path = Carthage/Checkouts/curl
	url = https://github.com/curl/curl.git
[submodule "Carthage/Checkouts/Nimble"]
	path = Carthage/Checkouts/Nimble
	url = https://github.com/Quick/Nimble.git
