github "jspahrsummers/xcconfigs" >= 0.7.1
github "Quick/Quick" ~> 1.1.0
github "Quick/Nimble" ~> 7.0.3
github "ZipArchive/ZipArchive" ~> 1.1
github "mallexxx/libgit2" "master"
github "openssl/openssl" "master"
github "mallexxx/libssh2" "master"
github "curl/curl" "master"
