github "jspahrsummers/xcconfigs" "master"
github "Quick/Quick" ~> 1.3.4
github "Quick/Nimble" ~> 7.3.3
github "mallexxx/ZipArchive" "master"
github "mallexxx/libgit2" "master"
github "openssl/openssl" "master"
github "mallexxx/libssh2" "master"
github "curl/curl" "master"
