github "jspahrsummers/xcconfigs" "master"
github "Quick/Quick" "master"
github "Quick/Nimble" "master"
git "git@bitbucket.org:sympli/versions-ziparchive.git" "master"
git "git@bitbucket.org:sympli/versions-libgit.git" "master"
github "openssl/openssl" "master"
git "git@bitbucket.org:sympli/versions-libssh2.git" "master"
github "curl/curl" "master"
